{
    proxyList       = ["188.214.235.8:50100","188.214.235.9:50100"]
    proxyUserID     = "valiksoin"
    proxyPassword   = "KiRnY7DQk4"
    gameName        = "AtomicKittens"
    gameSymbol      = "SGAtomicKittens"
    brandgameid     = "9e842c97-3b57-48a4-aa48-b4d96c6b0edb"
    clientVersion   = "1.1.15119.516"
    lineCount       = 0
    betLevel        = 1
    stake           = 0.01
    coin            = 20
    realBet         = 0.2
    gameURL         = "https://app-test.insvr.com/games/?brandid=a9d542ac-c9bb-e311-93f6-80c16e0883f4&mode=fun&locale=en&ifrm=1&lobbyurl=pm-closeGame"
    minOdd          = 0.0
    freeOpts        = []
    gameType        = 0,#0일반,1옵션
    purType         = 0,#0일반,1구매
}