
@{
    ViewBag.Title = "OpenGame";
}

<section class="content">
    <input type="hidden" id="error"   value="@ViewBag.error" />
</section>
<script>
    $(document).ready(function () {
        document.location.href = "/PPGame/notReady.html"
    })
</script>


