amaticbotpool {
    httpProxyList	= ["83.147.12.42:50100"]
    socks5ProxyList	= ["83.147.12.42:50101"]
    proxyUserID     = "valiksoin"
    proxyPassword   = "KiRnY7DQk4"
    gameName        = "SharkysGang"
    gameCategory    = 2
    gameID          = "sharkysgang"
    gameConfig      = 14720
    initString      = "A/u25freeplay,freeplay,,SharkysGang,2_0_0,,FUN,2|15|3|en-US|1920|1080"
    playmini        = 10
    playline        = [40]
    linetype        = 0 # (0: 10)
    realBet         = 400
    reelCnt         = 5,
    freeReelCnt     = 5,
    gameURL         = "https://cdn02.cdn.amatic.com/gmsl/mpp/amarent"
    WssURL          = "wss://sgrator.nserve.com/games"
    minOdd          = 0.0
    maxOdd          = 3000.0 
    freeOpts        = [] 
    purType         = -1
    anteType        = -1
    onlyFree        = 0
    betStep         = 0
}