amaticbotpool {
    httpProxyList	= ["83.147.12.42:50100"]
    socks5ProxyList	= ["83.147.12.42:50101"]
    proxyUserID     = "valiksoin"
    proxyPassword   = "KiRnY7DQk4"
    gameName        = "BillysGang"
    gameCategory    = 2
    gameID          = "billysgang"
    gameConfig      = 14720
    initString      = "A/u25freeplay,freeplay,,BillysGang,2_0_0,,EUR,2|15|3|en-US |1920|1080|1"
    playmini        = 1
    playline        = [20]
    linetype        = 0 # (0: 5)
    realBet         = 20
    reelCnt         = 5,
    freeReelCnt     = 5,
    gameURL         = "https://cdn02.cdn.amatic.com/gmsl/mpp/amarent"
    WssURL          = "wss://sgrator.nserve.com/games"
    minOdd          = 0.0
    maxOdd          = 3000.0 
    freeOpts        = [] 
    purType         = -1
    anteType        = -1
    onlyFree        = 0
    betStep         = 0
}